
body {
    background-color: #282b30 !important;
    color:#88c1ea !important;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 10px;
  
}

h1,h2{
    font-family: 'korataki';
    font-size: large;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-card{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1b1f23;
    width: auto;
    color:#88c1ea;
    width: 400px;
    height: 100%;
    text-align: center;
    align-content: center;
}

.profile_pic{
    width: 150px;
    height: 150px;
    margin: auto;
}

.btn-linkedin{
    margin: 10px;
}

.btn-github{
    margin: 10px;
}