body {
    background-color: #282b30;
    color: #88c1ea;
    margin: 0;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    max-width: 1200px; /* Larghezza massima del contenitore principale */
    /*margin: auto; /* Centra il contenuto orizzontalmente */
    padding: 20px;
}

.custom-card {
    background-color: #1b1f23;
    color: #88c1ea;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Spazio tra la card e i container a destra */
}

.profile_pic {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.btn-linkedin,
.btn-github {
    margin: 10px;
}

.container-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    flex: 1;
    padding: 20px;
    background-color: #1b1f23;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:100%; 
}

.container h2 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 20px;
}

.container ul {
    padding-left: 20px;
}

.container li {
    margin-bottom: 5px;
}

.container i {
    margin-left: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1b1f23;
    color: #88c1ea;
    width: 100%;
    border-top: 1px solid #88c1ea;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column; /* Stack i contenuti uno sopra l'altro su schermi stretti */
        align-items: center; /* Centra i contenuti verticalmente */
    }
    .custom-card {
        max-width: 100%; /* Occupa tutta la larghezza disponibile su schermi stretti */
        margin-right: 0; /* Rimuove lo spazio tra la card e i container su schermi stretti */
        margin-bottom: 20px; /* Aggiunge spazio tra la card e i container impilati */
    }

}
